@{
    Layout = "_AfterLoginLayout";
}

@model DeleteModel
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-card">
        <h2>Deleting Info</h2>
        <h3>Are you sure you want to delete the following</h3>
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <td>@Model.TitleWatched</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>@Model.SeasonWatched</td>
            </tr>
            <tr>
                <th>Provider</th>
                <td>@Model.Provider</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>@Model.Genre</td>
            </tr>
        </table>
        <a class="btn btn-secondary" asp-action="Index" asp-controller="WatchList">CANCEL</a>
        <div class="mt-2">

            <form method="post" asp-action="DeletePost" asp-controller="WatchList">
                <input type="hidden" name="infoID" value="@Model.SeriesID" />
                <button type="submit" class="btn btn-danger">DELETE</button>
            </form>
        </div>
    </div>
</div>
