@model IEnumerable<SeriesDTO>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Season</th>
            <th>Provider</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="table-content">
        @if (Model != null && Model.Any())
        {
            foreach (var series in Model)
            {
                <tr>
                    <td>@series.TitleWatched</td>
                    <td>@series.SeasonWatched</td>
                    <td>@series.Provider</td>
                    <td>@series.Genre</td>
                    <td>
                        <a class="btn btn-outline-info mb-2" asp-route-infoID="@series.SeriesID" asp-action="EditView" asp-controller="WatchList">Edit</a>
                        <a class="btn btn-outline-danger mb-2" asp-route-infoID="@series.SeriesID" asp-action="DeleteView" asp-controller="WatchList">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No series found, add more series to it!</td>
            </tr>
        }
    </tbody>
</table>
